<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.llt_project_separate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LLT_Project_Current">
        <activity
            android:name=".AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".FormsOfAddressActivity"
            android:exported="false" />
        <activity
            android:name=".PronounsActivity"
            android:exported="false" />
        <activity
            android:name=".FamilyMembersActivity"
            android:exported="false" />
        <activity
            android:name=".ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".MoneyActivity"
            android:exported="false" />
        <activity
            android:name=".CityActivity"
            android:exported="false" />
        <activity
            android:name=".ShopActivity"
            android:exported="false" />
        <activity
            android:name=".ClassActivity"
            android:exported="false" />
        <activity
            android:name=".OutsideActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".WildAnimalsActivity"
            android:exported="false" />
        <activity
            android:name=".HouseholdAnimalsActivity"
            android:exported="false" />
        <activity
            android:name=".VerbsActivity"
            android:exported="false" />
        <activity
            android:name=".EmotionsActivity"
            android:exported="false" />
        <activity
            android:name=".PeopleActivity"
            android:exported="false" />
        <activity
            android:name=".ObjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ColorsActivity"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false" />
        <activity
            android:name=".AlphabetActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalsActivity"
            android:exported="false" />
        <activity
            android:name=".ExpressionsSectionActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceToSignSectionActivity"
            android:exported="false" />
        <activity
            android:name=".TextToSignSectionActivity"
            android:exported="false" />
        <activity
            android:name=".VideoSectionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>